body
{
	font-family: sans-serif;
	font-size: 11pt;
}

h2
{
	font-size: 20pt;
}

div#sessionContainer
{
	margin-bottom: 2em;
}

div#sessionSelectContainer
{
	display: inline;
}

div#flotContainer
{
	width:75%;
	height:500px;
}

div#consoleContainer
{
	margin-top: 5em;
}

div.errorTitle
{
	font-size: large;
	font-weight: bold;
	margin-bottom: 3pt;
}

span.errorMessage
{
	color: #000000;
}

span.errorCode
{
	color: #800000;
}

span.errorLabel
{
	color: #404040;
}
